@model List<Model.Entity.Produto>
@{
    ViewBag.Title = "Buscar Por Codigo";
}
<div class="panel panel-default">
    <div class="panel-heading">Buscar Produtos no Sistema</div>
    <div class="panel-body">
        @using (Html.BeginForm())
            {
            <div class="form-horizontal">
                <h2 style="text-align:center; font-family:Arial; font-weight:700;">Buscar Produto por:</h2>
                <fieldset>
                    <div class="form-group">
                        @Html.Label("Categorias", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6 dropdown">
                           
                            @Html.DropDownList("ListaCategorias", ViewBag.ListaCategorias as SelectList, "Selecione uma Categoria", htmlAttributes: new { @class = "form-control" })
                           
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="Buscar" />
            </div>

        }
    </div>
</div>

<div class="text-primary text-danger text-center">
    @ViewBag.MensagemErro;
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Descrição</th>
            <th>Preco Unitário</th>
            <th>Categoria</th>
            <th colspan="3">Operacões</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objProduto in Model)
        {
            <tr>
                <td>@objProduto.IdProduto</td>
                <td>@objProduto.Nome</td>
                <td>@objProduto.PrecoUnitario</td>
                <td>@objProduto.Categoria</td>
                <td><a class="btn btn-success" href="~/Producto/Find/@objProduto.IdProduto"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td><a class="btn btn-info" href="~/Producto/Update/@objProduto.IdProduto"><span class="fa fa-edit"></span></a></td>
                <td><a class="btn btn-danger" href="~/Producto/Delete/@objProduto.IdProduto"><span class="fa fa-remove"></span></a></td>

            </tr>
        }
    </tbody>

</table>

