@model Model.Entity.Produto
@{
    ViewBag.Title = Model.Nome;
}

<ol class="breadcrumb">
    <li><a href="~/">Produto</a></li>
    <li class="active">@(Model.Nome)</li>

</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informação do Produto</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.IdProduto</dd>

            <dt>Nome</dt>
            <dd>@Model.Nome</dd>

            <dt>Preço</dt>
            <dd>@Model.PrecoUnitario</dd>

            <dt>Categoria</dt>
            <dd>@Model.Categoria</dd>
        </dl>
    </div>
    <div class="form-actions">
        |@Html.ActionLink("Voltar a Lista", "Index")
    </div>
</div>

