
<link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


@using Model.Entity
@model List<Cliente>
@{
    ViewBag.Title = "Buscar Cliente";
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        $("#tbcliente tbody tr").dblclick(function () {
            var Cliente = {};
            var n, a,m;
            n = Cliente.Codigo = $(this).children().eq('0').text();
            a = Cliente.DadosPessoais = $(this).children().eq('1').text() /*+ " - Código do Cliente - " + $(this).children().eq('0').text()*/;
            m = Cliente.Identificacao = $(this).children().eq('2').text();
            console.info(a, n,m);
            window.opener.obterCliente(Cliente);
            window.close();
            
          

        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">Buscar Clientes no Sistema</div>
    <div class="panel-body">
        @using (Html.BeginForm())
            {
            <div class="form-horizontal">
                <h2 style="text-align:center; font-family:Arial; font-weight:700;">Buscar Cliente por:</h2>
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-group col-md-3">
                            @Html.Label("Codigo", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("txtcliente", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            @Html.Label("Nome", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("txtnome", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            @Html.Label("CPF", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBox("txtcpf", null, new { @class = "form-control", @type = "number" })
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

                <input type="submit" value="Buscar" />
        }
    </div>
</div>

<table class="table table-striped" id="tbcliente">

    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Endereço</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objCliente in Model)
        {
            <tr>
                <td>@objCliente.IdCliente</td>
                <td>@objCliente.Nome</td>
                <td>@objCliente.Cpf</td>
                <td>@objCliente.Endereco</td>
                <td>@objCliente.Telefone</td>               
            </tr>
        }
    </tbody> 
</table>
<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/jquery/jquery.min.js"></script>