@using Model.Entity
@model List<Produto>
@{
    ViewBag.Title = "Buscar Produto";
}
<div class="panel panel-default">
    <div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Buscar Produto:</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm())
            {
            <div class="form-horizontal">
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-group col-md-4">
                            @Html.Label("Nome", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("txtnome", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Codigo", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("txtproduto", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Categorias", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9 dropdown">
                               
                                @Html.DropDownList("ListaCategorias", ViewBag.ListaCategorias as SelectList, "Selecione uma Categoria", htmlAttributes: new { @class = "form-control" })
                               
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="Buscar" />
            </div>

        }
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Preço Unitário</th>
        <th>Categoria</th>
        <th></th>

    </tr>
    @foreach (var objProduto in Model)
    {
        <tr>
            <th>@objProduto.IdProduto</th>
            <th>@objProduto.Nome</th>
            <th>@objProduto.PrecoUnitario</th>
            <th>@objProduto.Categoria</th>
            <td><a class="btn btn-success" href="~/Venda/CarregarProduto/@objProduto.IdProduto"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>
    }
    <tr></tr>
</table>

<div class="text-primary text-danger text-center">
    @ViewBag.MensagemError;
</div>
